* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;


  /* border: solid red 2px; */


}

body {
  background-image: url(../imagenes/fondoFamiliaYellow.jpeg);
  background-size: cover;
  font-weight: bolder;
}

.titulo {
  display: flex;
  padding-top: 10rem;
  justify-content: center;
  font-size: 5rem;
  font-family: "Hurricane", cursive;
  text-shadow: -2px -2px 1px #ffd90f, 2px 2px 1px #ffd90f, -2px 2px 1px #ffd90f,
    2px -2px 1px #ffd90f;
}

.subtitulo {
  color: black;
  font-size: 2.5rem;
  padding-left: 67rem;
  padding-bottom: 4rem;
  font-family: "Hurricane", cursive;
}

.navegacion {
  display: flex;
  justify-content: center;
}

.barraNav {
  margin-top: 10rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
  height: 4rem;
  background: rgb(255, 217, 15);
  background: linear-gradient(106deg, rgba(255, 217, 15, 1) 12%, rgba(255, 221, 42, 1) 52%, rgba(255, 255, 255, 1) 100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font: black;

}

a {
  color: black;

}

}

h2 {
  font-size: 2rem;
}

.start {
  display: flex;
  justify-content: center;
}

#botonInicio {
  height: 8rem;
  width: 15rem;
  font-size: 2rem;
}